<div class="col-xs-10 col-xs-1 about">
  <h1>About Splurty</h1>

    <p>Splurty is an app I created during my first project with The Firehose Project.</p> 
    <p>You can find a funny babble or banter everytime you visit the home page and even contribute your own piece of 'blanter'! Please enjoy.</p>
    <br/>
    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'me.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1 bio">
    <h2>Lindsay Dages</h2>
    <br />
    <p>
    I live in Brooklyn but grew up in a small town in Idaho. I recently discovered my passion for programming and can't wait to learn more!
    </p>
  </div>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />