@font-face {
    font-family: 'print_clearlyregular';
    src: url('/assets/printclearly-webfont.woff2') format('woff2'),
         url('/assets/printclearly-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'print_boldregular';
    src: url('/assets/printbold-webfont.woff2') format('woff2'),
         url('/assets/printbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}